# Exercises

# Overview

## For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), 
## then give an example of what a true positive, true negative, type I and type II errors would look like.

### Is the website redesign any good? 

### Rephrased: Has the click rate gone up, down, or stayed the same since the website redesign?
    
   **Null hypothesis:** The click rate on the website has remained the same since the redesign.
    
   **Alternative hypothesis:** The website redesign was terrible and had a negative affect on the click rate.
    
   **True Positive:** Null hypothesis rejected and website redisign has had a negative affect on the click rate.
    
   **True Negative:** Null hypothesis not rejected.  Website redisign had a positive affect on click rates.
    
   **Type 1 Error:** Results say that website redesign had a negative affect on click rates but actually didnt in reality.
    
   **Type 2 Error:** Results say that website redesign didn't have a negative affect but it actually did in reality.

### Is our television ad driving more sales?

### Rephrased: Have sales gone up, down, or stayed the same since the release of our adds?
    
   **Null hypothesis:** The adds have no proven causal affect on our sales.
    
   **Alternative hypothesis:** The adds have had a positive affect on our sales.
    
   **True Positive:** Adds have a positive affect on sales.
    
   **True Negative:** Adds aren't proven to have a positive affect on sales.
    
   **Type 1 Error:** Results say that adds have a positive affect while in reality it didn't.
    
   **Type 2 Error:** Results say that adds don't have a positive affect on sales while in reality it does.

### Has the network latency gone up since we switched internet service providers?

### Rephrased: How has our network latency changed since we switched internet service providers?
    
   **Null hypothesis:** The change of internet service provider has had no affect on our latency.
    
   **Alternative hypothesis:** The change of internet service provider has increased our latency.
    
   **True Positive:** Change of ISP increased latency.
    
   **True Negative:** No proof that change of ISP had the affect of increasing latency.
    
   **Type 1 Error:** Results say that change of ISP increased latency while in reality it did not.
    
   **Type 2 Error:** Results say that change of ISP had no affect on latency while in reality it did.

# T-Test

### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [1]:
import math
import numpy as np
from scipy import stats

In [2]:
stats.norm(90, 15).rvs(40)

array([105.41821591,  87.6938362 , 107.5221745 ,  76.77012587,
        98.63629663,  85.20465595, 100.26804285,  98.10939313,
        73.15511749,  72.76090906,  79.48108091,  93.8110528 ,
       102.70715087, 104.55149173,  99.53853525,  75.13498987,
       108.3767164 , 101.46687317,  92.23894567, 112.01373518,
        89.10052489,  99.13353006,  98.60479716,  91.08100177,
       122.1630188 , 112.89703593,  86.02680903,  99.25295137,
        92.03106919,  63.1433608 ,  62.65516149,  97.92722044,
        91.20208791,  72.70775364, 101.73326916, 112.93188153,
        98.55587253,  75.67644106, 104.78252044, 102.94600199])

In [3]:
stats.norm(100, 20).rvs(50)

array([100.78555795,  93.79656017, 125.2707343 , 117.01230097,
        83.12316182, 106.39088811, 119.14827014,  95.90235512,
       104.98828772,  85.21912139, 105.74549339, 111.48413365,
        74.53534201, 125.86693012, 134.89945492,  86.12639366,
        87.13320493, 110.89829725, 116.11885987, 106.74565539,
        91.98400146, 114.78800254,  72.59737393,  93.81399873,
       105.8509507 , 123.51192867,  95.42989013, 118.21212676,
        89.05550167,  61.89103618, 117.39771186, 105.80181267,
       104.70323743,  93.68940079, 147.15570317,  83.82793009,
       122.45237508,  85.66972201, 130.27066895,  80.42130181,
       113.37210697, 115.71919572, 129.1311827 , 111.26426783,
       147.53317932, 111.43280804,  92.66584326, 117.93867103,
       114.16864025, 109.72765039])

In [4]:
α = .05 #level of signifigance

n1 = 40 #sales
n2 = 50 #sales

µ1 = 90 #days
µ2 = 100 #days

σ1 = 15 #days
σ2 = 20 #days

x1 = stats.norm(90, 15).rvs(40)
x2 = stats.norm(100, 20).rvs(50)

x̄1 = x1.mean()
x̄2 = x2.mean()

s1 = x1.std()
s2 = x2.std()

degf = n1 + n2 - 2

sp = math.sqrt(((n1 - 1)*(σ1 ** 2) + (n2 - 1)*(σ2 ** 2)) / (degf))

t = (x̄1 - x̄2) / (sp * math.sqrt(1/n1 + 1/n2))

standard_error = se = math.sqrt(s1**2 / n1 + s2**2 / n2)

In [5]:
p = stats.t(degf).cdf(t) * 2
p

0.00546755614977545

In [6]:
t

-2.848532090920266

In [7]:
stats.ttest_ind(x1, x2)

Ttest_indResult(statistic=-2.7325325841087786, pvalue=0.007595353548288192)

### Load the mpg dataset and use it to answer the following questions:

In [8]:
from pydataset import data

mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
28,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup
...,...,...,...,...,...,...,...,...,...,...,...
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
182,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup
203,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [9]:
# Fuel efficiency of cars from 1999

mpg_1999 = ((mpg.cty[mpg.year == 1999] + mpg.hwy[mpg.year == 1999]) / 2)

# Fuel efficiency of cars from 2008

mpg_2008 = (mpg.cty[mpg.year == 2008] + mpg.hwy[mpg.year == 2008])

stats.ttest_ind(mpg_1999, mpg_2008)

Ttest_indResult(statistic=-19.399034424839172, pvalue=1.815311826660654e-50)

### Are compact cars more fuel-efficient than the average car?

In [10]:
# Fuel efficiency of compact cars

mpg_compact = (mpg.cty[mpg['class'] == 'compact'] + mpg.hwy[mpg['class'] == 'compact'] / 2)

# Fuel efficiency of all cars

mpg_all = ((mpg.cty + mpg.hwy) / 2).mean()

stats.ttest_1samp(mpg_compact, mpg_all)

Ttest_1sampResult(statistic=18.624517190434428, pvalue=4.67400197211997e-23)

### Do manual cars get better gas mileage than automatic cars?

In [11]:
mpg.trans = mpg.trans.str[:-4]

In [12]:
manual_mpg = (mpg[mpg.trans == 'manual'].cty +  mpg[mpg.trans == 'manual'].hwy) / 2

In [13]:
auto_mpg = (mpg[mpg.trans == 'auto'].cty +  mpg[mpg.trans == 'auto'].hwy) / 2

In [14]:
stats.ttest_ind(auto_mpg, manual_mpg)

Ttest_indResult(statistic=-4.593437735750014, pvalue=7.154374401145683e-06)

# Correlation

### Use the telco_churn data. Does tenure correlate with monthly charges? Total charges? What happens if you control for phone and internet service?

In [15]:
import pandas as pd
data = pd.read_csv("Telco_Data.csv") 
data.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_phone,has_internet,has_phone_and_internet,partner_dependents,start_date,avg_monthly_charges,contract_type2,phone_service2,Internet_service2,End Date
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,$65.60,...,True,True,True,3,1/7/19,$65.92,1 Year,One Line,DSL,10/7/19
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,$59.90,...,True,True,True,0,1/7/19,$60.27,Month-to-Month,Two or More Lines,DSL,10/7/19
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,$73.90,...,True,True,True,0,6/7/19,$70.21,Month-to-Month,One Line,Fiber Optic,10/7/19
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,$98.00,...,True,True,True,1,9/7/18,$95.22,Month-to-Month,One Line,Fiber Optic,10/7/19
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,$83.90,...,True,True,True,1,7/7/19,$89.13,Month-to-Month,One Line,Fiber Optic,10/7/19

In [16]:
tenure = data.Monthly_Tenure
monthly_charges = data.monthly_charges
#stats.ttest_ind(tenure, monthly_charges)

In [17]:
# corr, p = stats.pearsonr(tenure, monthly_charges)
# corr, p

### Use the employees database.

In [42]:
import pandas as pd
from env import user, host, password

def get_db_url(user, host, password, database):
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
    return url

employees_url = get_db_url(user, host, password, database="employees")

employees = pd.read_sql('''SELECT
    e.*,
    datediff('2002-09-30', e.hire_date) tenure,
    t.title,
    t.from_date title_from,
    datediff('2002-09-30', t.from_date) t_tenure,
    et.titles,
    s.salary,
    s.from_date salary_from,
    datediff('2002-09-30', s.from_date) s_tenure,
    es.salaries
FROM
    employees e
JOIN 
    titles t 
    USING(emp_no)
JOIN 
    salaries s 
    USING(emp_no)
JOIN
    (SELECT 
        emp_no,
        count(*) titles
    FROM
        titles
    GROUP BY
        emp_no) et
    USING(emp_no)
JOIN
    (SELECT 
        emp_no,
        count(*) salaries
    FROM
        salaries
    GROUP BY
        emp_no) es
    USING(emp_no)
WHERE
    s.to_date > '2002-09-30'
    AND t.to_date > '2002-09-30';
''', employees_url)

print(employees.shape)
print(employees.dtypes)
employees.sample(5)

(240124, 15)
emp_no          int64
birth_date     object
first_name     object
last_name      object
gender         object
hire_date      object
tenure          int64
title          object
title_from     object
t_tenure        int64
titles          int64
salary          int64
salary_from    object
s_tenure        int64
salaries        int64
dtype: object

,emp_no,birth_date,first_name,last_name,gender,hire_date,tenure,title,title_from,t_tenure,titles,salary,salary_from,s_tenure,salaries
150081,287328,1954-07-07,Ennio,Keustermans,M,1987-02-18,5703,Senior Engineer,1997-05-07,1972,2,73970,2002-05-05,148,12
37452,56661,1954-09-05,Navid,Kornatzky,M,1990-04-13,4553,Senior Staff,1995-04-13,2727,2,77039,2002-04-10,173,13
33043,51156,1953-03-22,Vatsa,Peron,M,1992-08-10,3703,Engineer,1999-04-28,1251,1,45517,2002-04-27,156,4
187135,433739,1956-07-28,Sadun,Pena,F,1985-12-08,6140,Senior Staff,1994-03-18,3118,2,79780,2002-03-15,199,14
198566,447997,1961-06-19,Radoslaw,Thummel,M,1988-02-04,5352,Senior Staff,1988-02-04,5352,1,65567,2002-01-31,242,15

### Is there a relationship between how long an employee has been with the company and their salary?

In [19]:
stats.ttest_ind(employees.t_tenure, employees.salary)

Ttest_indResult(statistic=-1965.290256976851, pvalue=0.0)

In [20]:
corr, p = stats.pearsonr(employees.t_tenure, employees.salary)
corr, p

(0.2928925355455215, 0.0)

### Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [21]:
stats.ttest_ind(employees.t_tenure, employees.titles)

Ttest_indResult(statistic=823.4102997009813, pvalue=0.0)

In [22]:
corr, p = stats.pearsonr(employees.t_tenure, employees.titles)
corr, p

(-0.3130073440315879, 0.0)

### Use the sleepstudy data. Is there a relationship between days and reaction time?

In [23]:
from pydataset import data
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sleepstudy = data('sleepstudy')
sleepstudy.head()

   Reaction  Days  Subject
1  249.5600     0      308
2  258.7047     1      308
3  250.8006     2      308
4  321.4398     3      308
5  356.8519     4      308

In [24]:
stats.ttest_ind(sleepstudy.Days, sleepstudy.Reaction)

Ttest_indResult(statistic=-69.93555875916752, pvalue=7.790453448409e-211)

In [25]:
corr, p = stats.pearsonr(sleepstudy.Days, sleepstudy.Reaction)
corr, p

(0.5352302262650253, 9.894096322214812e-15)

# Chi Square

### Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

|                       | Codeup Student | Not Codeup Student |   |   |
|-----------------------|----------------|--------------------|---|---|
| Uses A Macbook        | 49             | 20                 |   |   |
| Doesn't Use A MacBook | 1              | 30                 |   |   |
|                       |                |                    |   |   |

$H_{0}$: Whether or not someone uses a macbook is independent of being a codeup student

$H_{a}$: Whether or not someone uses a macbook is NOT independent of being a codeup student

In [26]:
index = ['Uses A Macbook', "Doesn't Use A Macbook"]
columns = ['Codeup Student', 'Not Codeup Student']

observed = pd.DataFrame([[49, 20], [1, 30]], index=index, columns=columns)
chi2, p, degf, expected = stats.chi2_contingency(observed)
print('Observed\n')
print(observed.values)
print('---\nExpected\n')
print(expected)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[49 20]
 [ 1 30]]
---
Expected

[[34.5 34.5]
 [15.5 15.5]]
---

chi^2 = 36.6526
p     = 0.0000

#### <font color='red'>The two variables are not independent</font>

### Choose another 2 categorical variables from the mpg dataset and perform a chi^2 contingency table test with them. Be sure to state your null and alternative hypotheses.

$H_{0}$: Whether or not the class of car is a compact is independent of whether or not it's an Audi.

$H_{a}$: Whether or not the class of car is a compact is NOT independent of whether or not it's an Audi.

In [27]:
# compact = (mpg['class'][mpg.manufacturer == 'audi'] == 'compact').sum()
# not_compact = (mpg['class'][mpg.manufacturer == 'audi'] != 'compact').sum()

compact = (mpg['class'] == 'compact').sum()
not_compact = (mpg['class'] != 'compact').sum()
audi = (mpg.manufacturer == 'audi').sum()
not_audi = (mpg.manufacturer != 'audi').sum()

In [28]:
index_mpg = ['Compact', 'Not A Compact']
columns_mpg = ['Audi', 'Not Audi']
observed_mpg = pd.DataFrame([[compact, not_compact], [audi, not_audi]], index=index_mpg, columns=columns_mpg)
observed_mpg

               Audi  Not Audi
Compact          47       187
Not A Compact    18       216

In [29]:
chi2, p, degf, expected = stats.chi2_contingency(observed_mpg)

print('Observed\n')
print(observed_mpg.values)
print('---\nExpected\n')
print(expected)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[ 47 187]
 [ 18 216]]
---
Expected

[[ 32.5 201.5]
 [ 32.5 201.5]]
---

chi^2 = 14.0069
p     = 0.0002

#### <font color='red'>The two variables are not independent</font>

## Use the data from the employees database to answer these questions:

In [30]:
print(employees.shape)
print(employees.dtypes)
employees.sample(5)

(240124, 15)
emp_no          int64
birth_date     object
first_name     object
last_name      object
gender         object
hire_date      object
tenure          int64
title          object
title_from     object
t_tenure        int64
titles          int64
salary          int64
salary_from    object
s_tenure        int64
salaries        int64
dtype: object

,emp_no,birth_date,first_name,last_name,gender,hire_date,tenure,title,title_from,t_tenure,titles,salary,salary_from,s_tenure,salaries
36782,55820,1963-03-28,Tonny,Cannard,F,1991-06-18,4122,Senior Staff,1997-06-17,1931,2,75592,2002-06-15,107,12
62718,88222,1956-04-26,Karsten,Geffroy,F,1986-08-13,5892,Senior Staff,1997-02-20,2048,2,102996,2002-02-17,225,15
188019,434846,1957-07-16,Basem,Collette,F,1987-09-14,5495,Senior Staff,1992-09-13,3669,2,106430,2001-09-10,385,15
162368,402723,1960-04-25,Vivian,Mahmud,M,1993-07-15,3364,Staff,1996-11-14,2146,1,64182,2001-11-13,321,6
176083,419881,1959-01-02,Navin,Winter,F,1985-09-17,6222,Senior Staff,1994-09-17,2935,2,96230,2001-09-13,382,17

### Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)

$H_{0}$: Employee's gender is independent of whether an employee works in sales or marketing.

$H_{a}$: Employee's gender is not independent of whether an employee works in sales or marketing.

In [62]:
employees_female_by_department = pd.read_sql('''select departments.dept_no, departments.dept_name, count(employees.emp_no) as count
from departments
join dept_emp
on departments.dept_no = dept_emp.dept_no
join employees
on dept_emp.emp_no = employees.emp_no
where dept_emp.to_date = '9999-01-01' and gender = 'F'
group by departments.dept_name
order by dept_no;
''',employees_url)

print(employees_female_by_department.shape)
print(employees_female_by_department.dtypes)
employees_female_by_department

(9, 3)
dept_no      object
dept_name    object
count         int64
dtype: object

  dept_no           dept_name  count
0    d001           Marketing   5864
1    d002             Finance   5014
2    d003     Human Resources   5147
3    d004          Production  21393
4    d005         Development  24533
5    d006  Quality Management   5872
6    d007               Sales  14999
7    d008            Research   6181
8    d009    Customer Service   7007

In [79]:
females_sales_or_marketing = 5864 +14999
females_not = employees_female_by_department['count'].sum() - females_sales_or_marketing
females_not

75147

In [63]:
employees_male_by_department = pd.read_sql('''select departments.dept_no, departments.dept_name, count(employees.emp_no) as count
from departments
join dept_emp
on departments.dept_no = dept_emp.dept_no
join employees
on dept_emp.emp_no = employees.emp_no
where dept_emp.to_date = '9999-01-01' and gender = 'M'
group by departments.dept_name
order by dept_no;
''',employees_url)

print(employees_male_by_department.shape)
print(employees_male_by_department.dtypes)
employees_male_by_department

(9, 3)
dept_no      object
dept_name    object
count         int64
dtype: object

  dept_no           dept_name  count
0    d001           Marketing   8978
1    d002             Finance   7423
2    d003     Human Resources   7751
3    d004          Production  31911
4    d005         Development  36853
5    d006  Quality Management   8674
6    d007               Sales  22702
7    d008            Research   9260
8    d009    Customer Service  10562

In [76]:
males_sales_or_marketing = 8978 + 22702
males_not = employees_male_by_department['count'].sum() - males_sales_or_marketing
males_not

112434

In [68]:
sales_or_marketing = males_sales_or_marketing + females_sales_or_marketing

In [78]:
index_emp = ['Male', 'Female']
columns_emp = ['Sales or Marketing', 'Not Sales or Marketing']
observed_emp = pd.DataFrame([[males_sales_or_marketing, males_not], [females_sales_or_marketing, females_not]], index=index_emp, columns=columns_emp)
observed_emp

        Sales or Marketing  Not Sales or Marketing
Male                 31680                  112434
Female               20863                   75147

In [98]:
chi2, p, degf, expected = stats.chi2_contingency(observed_emp)

print('Observed\n')
print(observed_emp.values)
print('---\nExpected\n')
print(expected)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[ 31680 112434]
 [ 20863  75147]]
---
Expected

[[ 31534.46511802 112579.53488198]
 [ 21008.53488198  75001.46511802]]
---

chi^2 = 2.1356
p     = 0.1439

#### <font color='red'>The two variables are independent</font>

### Is an employee's gender independent of whether or not they are or have been a manager?

$H_{0}$: Employee's gender is independent of whether or not they have been a manager

$H_{a}$: Employee's gender is not independent of whether or not they have been a manager

In [91]:
emp_manager_female = pd.read_sql('''select distinct departments.dept_name as department_name, concat(employees.first_name,' ',employees.last_name) as department_manager
from employees
join dept_manager
on dept_manager.emp_no = employees.emp_no
join departments
on departments.dept_no = dept_manager.dept_no
where employees.gender = 'F'
order by department_name;
''', employees_url)

print(emp_manager_female.shape)
print(emp_manager_female.dtypes)
emp_manager_female
emp_manager_female.department_manager.count()

(13, 2)
department_name       object
department_manager    object
dtype: object

13

In [90]:
emp_manager_male = pd.read_sql('''select distinct departments.dept_name as department_name, concat(employees.first_name,' ',employees.last_name) as department_manager
from employees
join dept_manager
on dept_manager.emp_no = employees.emp_no
join departments
on departments.dept_no = dept_manager.dept_no
where employees.gender = 'M'
order by department_name;
''', employees_url)

print(emp_manager_male.shape)
print(emp_manager_male.dtypes)
emp_manager_male
emp_manager_male['department_manager'].count()

(11, 2)
department_name       object
department_manager    object
dtype: object

11

In [99]:
male = (employees.gender == 'M').sum() - 11
female = (employees.gender != 'M').sum() - 13

In [100]:
index_emp2 = ['Male', 'Female']
columns_emp2 = ['Manager', 'Never Been Manager']
observed_emp2 = pd.DataFrame([[11, male], [13, female]], index=index_emp2, columns=columns_emp2)
observed_emp2

        Manager  Never Been Manager
Male         11              144103
Female       13               95997

In [101]:
chi2, p, degf, expected = stats.chi2_contingency(observed_emp2)

print('Observed\n')
print(observed_emp2.values)
print('---\nExpected\n')
print(expected)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[    11 144103]
 [    13  95997]]
---
Expected

[[1.44039580e+01 1.44099596e+05]
 [9.59604204e+00 9.60004040e+04]]
---

chi^2 = 1.4644
p     = 0.2262

#### <font color='red'>The two variables are independent</font>